/* Header */
.headerTypo{
    margin-left: 250px !important;
}
.headerButton{
    padding-top: 10px !important;
   margin-left: 50px !important;
   text-transform: none !important;
   font-size: 16px !important;
}

.IconButton{
    /* margin-left: 0px !important; */
    margin-right: 20px !important;
}
#HeaderLogin{
    border-radius: 10px;
    width: 50px;
    margin-right: 15px;
    padding-top: 10px;
    text-transform: none;
    font-size: 16px !important;
}
#HeaderRegister{
    background-color: rgb(238, 94, 41);
    border-radius: 12px;
    margin-top: 5px;
    text-transform: none;
    font-size: 16px !important;
}

/* Home Page */
.homePage{
    background-color: #f7faf9 !important;
    height: 729px !important;
}
.homeContainer{
    display: flex;
    margin-left: 300px !important;
    margin-top: 100px;
    height: 450px;
    width: 450px;
    background-color: #fcfdfd;
    box-shadow:  0 0 15px rgba(57, 112, 144, 0.2);
}   
.homeBox{
    display: flex;
    flex-wrap: wrap;
    height: fit-content !important;
    margin-left: 60px;
    margin-top: 70px;
}
.pointsBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.homeParentContainer{
    display: flex;
}
.homeContainer2{
    background-color: #fcfdfd;
    margin-top: 50px;
    width: 500px;
    height: 570px;
    box-shadow:  0 0 15px rgba(57, 112, 144, 0.2);
}

/* registerPage */
.registerContainer{
    padding-top: 10px;
}
.registerBox{
    margin-top: 10px;
    margin-left: 50px;
}
#registerHeading{
    display: flex;
    justify-items: left;
    font-size: 20px;
}
#registerSubHeading{
    display: flex;
    justify-items: left;
    font-size: small;
    opacity: 0.6;
}
.registerTypo{
    display: flex;
    justify-items: left;
    margin-bottom: 15px !important;
    height: 10px;
    font-size: 15px !important;
}
.registerInput{
    margin-right: 90px !important;
    width: 80% !important;
}
.registerInput .MuiInputBase-root {
    height: 30px !important; /* Adjust the height of the input container */
    font-size: 0.75rem !important; /* Adjust the text size in the input */
    border-radius: 10px;
}

.registerInput .MuiInputBase-input {
    padding: 4px 8px !important; /* Reduce padding inside the input */
}

.registerInput .MuiInputLabel-root {
    font-size: 0.7rem !important; /* Adjust the label font size */
}

/* Login */
.LoginContainer{
    padding-top: 50px;
}
.LoginBox{
    margin-top: 22px;
    margin-left: 50px;
}
#LoginHeading{
    display: flex;
    justify-items: left;
    font-size: 20px;
}
.LoginTypo{
    display: flex;
    justify-items: left;
    margin-bottom: 15px !important;
    height: 10px;
    font-size: 15px !important;
}
.LoginInput{
    margin-right: 90px !important;
    width: 80% !important;
}
.LoginInput .MuiInputBase-root {
    height: 35px !important; /* Adjust the height of the input container */
    font-size: 0.75rem !important; /* Adjust the text size in the input */
    border-radius: 10px;
}

.LoginInput .MuiInputBase-input {
    padding: 4px 8px !important; /* Reduce padding inside the input */
}

.LoginInput .MuiInputLabel-root {
    font-size: 0.7rem !important; /* Adjust the label font size */
}